[submodule "compound_protein_interaction/CPI_prediction"]
	path = compound_protein_interaction/CPI_prediction
	url = https://github.com/masashitsubaki/CPI_prediction.git
[submodule "docking/candock"]
	path = docking/candock
	url = https://github.com/chopralab/candock.git
[submodule "md_simulations/gromacs"]
	path = md_simulations/gromacs
	url = https://github.com/gromacs/gromacs.git
[submodule "CANDO"]
	path = CANDO
	url = https://github.com/ram-compbio/CANDO.git
